
body {
	font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #F1F2F2;
    background: url('/assets/images/bg_main.png') no-repeat #F1F2F2; 
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed; 
} 

#page-logo { 
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
    line-height: 100%;
}

#page-logo img {
    max-width: 500px;
    width: 100%;
}
 

